#!/usr/bin/env xdg-open

[Desktop Entry]
Name=RuneMage.desktop
Comment=Client for Runescape
GenericName=Runescape Client         
Exec=runemage   
Icon=/opt/runemage/data/swords.png
Terminal=false
Type=Application
Categories=Games;
StartupNotify=true

